{% extends 'include/layout.html' %}
{% load render_partial %}
{% block title %}
صفحه کاربری
{% endblock %}
{% block body %}
    <div class="container">
    <div class="row">
   <div class="col-md-4 ">
            <a class="thumbnail">
            <img src="{{ user.avatar.url}}" alt="user_profile">
            </a>
        {% render_partial 'apps.user_panel_module.views.user_panel_partial' %}
   </div>
        <div class="col-md-8">
            <div class="panel panel-default">
  <div class="panel-heading">درباره شما :</div>
  <div class="panel-body">
<p>{{ user.about }} </p> </div>
</div>

    </div></div>

    </div>


{% endblock %}
