{% load thumbnail %}
{% load poll_extras %}
{% load sorl_thumbnail %}
<div class="col-sm-5">
							<div class="view-product">
                                {% if product.image %}
                                            {% thumbnail product.image "268x250" quality=100 crop="center" as image  %}
                                            <img id="main_image" src="{{ image.url }}">
                                        {% endthumbnail %}
                                        {% else %}
                                            <img id="main_image" src="/static/images/shop/product.jpg" alt="" />
                                        {% endif %}
                                <a id="bigger_picture" href="{{ product.image.url }}  " data-lightbox="image"><p class="h4">zoom</p></a>

							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">

								  <!-- Wrapper for slides -->
								    {% if product_gallery %}
                                        <div class="carousel-inner">
										{% for group in product_gallery %}
										<div class="item {% if forloop.first %} active {% endif %} ">
										  {% for pictures in group  %}
                                            {% if pictures.images %}
                                              <a  onclick="ChangeImage('{{ pictures.images.url }}')" >
                                                  {% thumbnail pictures.images "85x85" crop="center"  as image %}
                                            <img src="{{ image.url }}"></a>
                                                {% endthumbnail %}
                                              {% else %}
                                              <a href=""><img src="/static/images/product-details/similar1.jpg" alt=""></a>
                                              {% endif %}
										  {% endfor %}


										</div>
										{% endfor %}
                                    </div>
                                        {% else %}
                                        <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img src="/static/images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="/static/images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="/static/images/product-details/similar3.jpg" alt=""></a>
										</div>

									</div>
								    {% endif %}
								  <!-- Controls -->
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="/static/images/product-details/new.png" class="newarrival" alt="" />
								<div>
									<h2>عنوان: {{ product.title }}</h2>
									<p>کـالای شمـاره {{ product.id }}</p>
								</div>
								<div>
									<span>
										<span>قیمت : {{ product.get_three_digit_prices }} ریال </span>
									</span>
									<span>
										<label>تعداد :</label>

                                                <input  id="count_input" type="number" min="1" max="20" value="1" class="search_box"/>
										<a onclick="AddtoOrder({{ product.id }})" type="submit" class="btn btn-default cart">
											<i class="fa fa-shopping-cart"></i>
											افـزودن به سبد خرید
										</a>

									</span>
								</div>
								<div>
                                    {% if stmt %}
                                        <p><b>موجـود است :</b> بله </p>
                                        {% else  %}
                                        <p><b>موجـود است :</b> خیر </p>
                                    {% endif %}
									<p><b>شرایـط :</b> جدیـد</p>
									<p><b>برنـد :</b> {{ product.brand.title }} </p>
								</div>


							</div><!--/product-information-->
						</div>