{% load poll_extras %}
{% load thumbnail %}
                            <div class="col-md-{{ col_size }}">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
                                        {% if products.image %}
                                            {% thumbnail products.image "500x500" crop="center"  as image %}
                                            <img src="{{ image.url }}">
                                        {% endthumbnail %}
                                        {% else %}
                                            <img src="/static/images/shop/product.jpg" alt="" />
                                        {% endif %}

											<h2> تومان {{ products.get_three_digit_prices }}</h2>
											<p>{{ products.title }}</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2> تومان{{ products.price | three_digit_price }}</h2>
											<p>{{ products.short_description }}</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
										</div>
									</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href=""><i class="fa fa-plus-square"></i>لیست علاقه مندی ها</a></li>
										<li><a href="{% url 'shop:product_detail' products.slug %}"><i class="fa fa-plus-square"></i>مشاهده جزئیات </a></li>
									</ul>
								</div>
							</div>
						</div>