{% load sorl_thumbnail %}

<div class="response-area" id="comment_section">
<h2>نظرات ({{ comment_count }})</h2>
						<ul class="media-list">

                            {% for comment in comments %}
							<li class="media">

								<a class="pull-right" href="#">  {% thumbnail article.author.avatar "128x89" crop="center"  as image %}
                               <img src="{{ image.url }}">
								</a>{% endthumbnail %}
								<div class="media-body"  >
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ comment.author.get_full_name }}</li>
{#										<li><i class="fa fa-clock-o"></i> 13:33 ب.ظ</li>#}
										<li><i class="fa fa-calendar"></i>{{ comment.date_created }}</li>
									</ul>
                                    <p>{{ comment.text }}</p>
                                    <a class="btn btn-primary" onclick="setparentId({{ comment.id }})"><i
                                                class="fa fa-reply"></i>پاسـخ</a>
								</div>
							</li>

                    {% for answer in comment.parent_comment.all %}
                                    	<li class="media second-media">
                                        {% if answer.author.avatar %}
								<a class="pull-right" href="#">
                        {% thumbnail answer.author.avatar "128x89" crop="center"  as image %}
                               <img class="media-object" src="{{ image.url }}">
                                {% endthumbnail %}
                        {% else %}
							<a class="pull-right" href="#">
									<img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
								</a>

                        {% endif %}
								</a>
								<div class="media-body">
									<ul class="sinlge-post-meta">
										<li><i class="fa fa-user"></i>{{ answer.author.get_full_name }}</li>
										<li><i class="fa fa-clock-o"></i> 13:33 ب.ظ</li>
										<li><i class="fa fa-calendar"></i>{{ article.date_created }}</li>
									</ul>
									<p>{{ answer.text }}</p>

								</div>
							</li>
                                    {% endfor %}{% endfor %}

						</ul>

					</div>
<!--/Response-area-->
<!--/Response-area-->