{%  extends "include/layout.html" %}
{% load thumbnail %}
{% block title %}
درباره ی ما
{% endblock %}

{% block body %}
	 <div id="contact-page" class="container">
    	<div class="bg">

	    		<div class="col-sm-12 ">
	    			<div class="about">
	    				<h2 class="title text-center">دربـاره ما</h2>
                        <p>{{ site_data.about_us_text }}</p>
	    			</div>
	    		</div>
	    	</div>

			<div class="row">
				<div class="col-sm-12 about-address">
					<address>
	    				<p> {{ site_data.site_name }} | {{ site_data.address }} | تلفن تماس : {{ site_data.phone }} | فکس :{{ site_data.fax }} | ایمیـل :{{ site_data.email }}

						</p>
	    			</address>
				</div>
			</div>

			<div class="row">
				<div class="container">
	    			<div class="col-sm-12" style="overflow: hidden; margin-bottom: 40px">    			   		<h2 class="title text-center">مـا اینجـا هستیـم ... </h2>    			    						<div id="gmap" class="contact-map">
							<img src="../static/images/home/Map.jpg" alt="Map"/>
						</div>
					</div>
				</div>
			</div>

    	</div>
    </div><!--/#contact-page-->
{% endblock %}