{% extends 'include/layout.html' %}
{% load render_partial %}

{% block title %}
    لیست محصولات
{% endblock %}

{% block body %}
	<section id="advertisement">
		<div class="container">
            <img src="{{ top_banner.image.url }}" alt="" />

		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9 padding-right">

					{% if product %}
                        <div class="features_items"><!--features_items-->
						<h2 class="title text-center">محصولات عمده</h2>
                        {% for products in product %}
                            {% include 'include/product_list_component.html' %}
                        {% endfor %}
                    <div class="clearfix"></div>
						<ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
                        {% endif %}
                            {% for pages in paginator.page_range %}
							<li class="{% if page_obj.number == pages %} active {% endif %}" ><a href="?page={{ pages }}">{{ pages }}</a></li>
                            {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>

                        {% endif %}
						</ul>
					</div><!--features_items-->
                        {% else %}
                        <div class="alert alert-warning">
                    <p class="h3">هیج محصولی یافت نشد</p>
                        </div>
					{% endif %}
				</div>
                    <div class="col-sm-3">
					<div class="left-sidebar">
                {% render_partial "apps.product_module.views.category_components" %}
                {% render_partial "apps.product_module.views.brand_components" %}

                    <div class="shipping text-center"><!--shipping-->
                        <a href="{{ right_banner.url }}"><img src="{{ right_banner.image.url }}" alt="" /></a>
						</div><!--/shipping-->
</div>
			</div>
		</div>
        </div></section>
{% endblock %}