{% extends "include/layout.html" %}
{% load sorl_thumbnail %}
{% load render_partial %}
{% block title %}
جزییات مقاله
{% endblock %}
{% block body %}
    	<section>
		<div class="container">
			<div class="row">

				<div class="col-sm-12">
					<div class="blog-post-area">
						<h2 class="title text-center">{{ article.title }}</h2>
						<div class="single-blog-post">
							<h3>{{ article.title }}</h3>
							<div class="post-meta">
								<ul>
									<li><i class="fa fa-user"></i> {{ article.author }}</li>
									<li><i class="fa fa-clock-o"></i> {{ article.get_jalali_create_time }}</li>
									<li><i class="fa fa-calendar"></i>{{ article.get_jalali_create_date }}</li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
							<a href="">
                                {% thumbnail article.image "900x400" crop="center"  as image %}
                               <img src="{{ image.url }}">
                                {% endthumbnail %}
							</a>
							<p>{{ article.text }}</p>
							<div class="pager-area">
								<ul class="pager pull-left">
									<li><a href="#">قبلی</a></li>
									<li><a href="#">بعـدی</a></li>
								</ul>
							</div>
						</div>
					</div><!--/blog-post-area-->

					<div class="rating-area">
						<ul class="ratings">
							<li class="rate-this">به این مطلب امتیـاز دهیـد :</li>
							<li>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star color"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</li>
							<li class="color">( 6 نظـر )</li>
						</ul>
						<ul class="tag">
							<li>برچسب :</li>
							<li><a class="color" href="">برچسب 1 <span>/</span></a></li>
							<li><a class="color" href="">برچسب 2 <span>/</span></a></li>
							<li><a class="color" href="">برچسب 3</a></li>
						</ul>
					</div><!--/rating-area-->

					<div class="socials-share">
						<a href=""><img src="/static/images/blog/socials.png" alt=""></a>
					</div><!--/socials-share-->
                    {% if article.author %}
					<div class="media commnets">
						<a class="pull-right" href="#">
                        {% if article.author.avatar %}
                        {% thumbnail article.author.avatar "120x89" crop="center"  as image %}
                               <img class="media-object" src="{{ image.url }}">
                                {% endthumbnail %}
                        {% else %}
							<img class="media-object" src="/static/images/blog/Customer.jpg" alt="">

                        {% endif %}</a>
						<div class="media-body">
							<h4 class="media-heading">{{ article.author.get_full_name }}</h4>
							<p>{{ article.author.about }}</p>
							<div class="blog-socials">
								<ul>
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-dribbble"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
								</ul>
								<a class="btn btn-primary" href="">سایـر مطالب نویسنده</a>
							</div>
						</div>
                        {% endif %}
					</div><!--Comments-->



                            {% include 'article_module/components/comment_component.html' with comments=comments %}
                    <div class="replay-box">


                                <div class="col-sm-12"><div class="row">{% if request.user.is_authenticated %}
                                    <h2>نظـر خود را بنویسیـد</h2>
                                    <div class="text-area" id="comment_form" >
                                        <input type="hidden" id="parent_id" value="">
                                        <div class="blank-arrow">
                                            <label>متن پیام</label>
                                        </div>
                                        <span>*</span>
                                        <textarea name="message" rows="11" id="commentText"></textarea>
                                        <a class="btn btn-primary" onclick="sendArticleComment({{ article.id }})">ارسـال
                                            نظـر</a>
                                    </div>
                                </div>
                            </div>
                            </div>{% else %}
                              <div class="alert alert-warning">
                                برای درج نظر می بایست <a href="{% url 'user:login' %}">لاگین</a> کنید{% endif %}



                    </div><!--/Repaly Box-->
                </div>
				</div>



			</div>

	</section>
{% endblock %}