{% extends 'include/layout.html' %}
{%  load thumbnail %}
{% load poll_extras %}
{% load render_partial %}
{% block title %}
    مقالات 
{% endblock %}

{% block body %}
    	<section>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center">آخریـن اخبـار</h2>
                    {% for articles in article %}

						<div class="single-blog-post">
							<h3>{{ articles.title }}</h3>
							<div class="post-meta">
								<ul> {% if articles.author is not None %}
									<li><i class="fa fa-user"></i>{{ articles.author.get_full_name }}</li>
                                    {% else %}
                                    <li><i class="fa fa-user"></i>نامشخص</li>
                                        {% endif %}
                                <li><i class="fa fa-calendar"></i>{{ articles.get_jalali_create_date }}</li>
									<li><i class="fa fa-clock-o"></i>{{ articles.get_jalali_create_time  }}</li>

								</ul>

							</div>
							<a href="">

                            {% thumbnail articles.image "900x400" crop="center"  as image %}
                               <img src="{{ image.url }}">
                            {% endthumbnail %}

							</a>
							<p>{{ articles.short_description }}</p>
							<a href="{% url "article:article-detail" slug=articles.slug %}" class="btn btn-primary" href="">ادامـه مطلب</a>
						</div>
                    {% endfor %}


						<div class="pagination-area">
							<ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a>قبلی</li>
                                {% endif %}
                                    {% for pages in paginator.page_range %}
                                    <li><a href="?page={{ pages }}"  class=" {% if page_obj.number == pages%} active {% endif %} ">{{ pages }}</a></li>
                                    {% endfor %}
                                 {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                                {% endif %}

								<li><a href="">بعدی </a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="left-sidebar">
					{% render_partial "apps.article_module.views.category_components" %}



						<div class="shipping text-center"><!--shipping-->
							<img src="../static/images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
{% endblock %}